# Extract

In [2]:
import praw
from supabase import create_client, Client
import pandas as pd

In [3]:
# authentification
username = "ml-engineer-id"
password = "YesWeCan!2024"
app_client_ID = "-op8tbEm4Lru11GOWHaGvQ"
app_client_secret = "O7xLPfX-yV1hUyxeQcAvvLaqVx0luA"
user_agent = "python:ETLApp:v1.1 (by /u/ml-engineer-id)"

In [4]:
reddit = praw.Reddit(
    client_id=app_client_ID,
    client_secret=app_client_secret,
    password=password,
    user_agent=user_agent,
    username=username
)

In [5]:
url: str ="https://sfvirdoealfpgazvpxzt.supabase.co"
key: str ="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmdmlyZG9lYWxmcGdhenZweHp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDM4NjI0MjcsImV4cCI6MjAxOTQzODQyN30.Ck39HXTtENYM_m5QjuVP_SR6gt9ipP9YUOBKalYOqrI"

In [6]:
supabase: Client = create_client(url, key)
# Create a random user login email and password.
random_email: str = "machinelearning.engineer.id@gmail.com"
random_password: str = "YesWeCan!2024"
user = supabase.auth.sign_up({ "email": random_email, "password": random_password })
user = supabase.auth.sign_in_with_password({ "email": random_email, "password": random_password })

In [7]:
european_countries = {'United Kingdom' : "unitedkingdom",
                      'Ukraine' : "Ukrainian",
                      'Turkey' :"Turkey",
                      'Switzerland' :"switzerland",
                      'Sweden': "sweden",
                      'Spain' : "es",
                      'Slovenia' : "Slovenia",
                      'Slovakia' : "Slovakia",
                      'Serbia' : "serbia",
                      'Romania' : "Romania",
                      'Portugal' : "portugal",
                      'Poland' : "poland",
                      'Norway' : "norway",
                      'Netherlands' : "TheNetherlands",
                      'Republic of Moldova' : "moldova",
                      'Malta' : "malta",
                      'TFYR Macedonia' : "macedonia",
                      'Luxembourg' : "Luxembourg",
                      'Lithuania' : "lithuania",
                      'Latvia' : "Latvia",
                      'Italy' : "it",
                      'Ireland' : "ireland",
                      'Iceland' : "Iceland",
                      'Hungary' : "hungary",
                      'Greece' : "greece",
                      'Germany' : "Germany",
                      'France' : "france",
                      'Finland' : "Finland",
                      'Estonia' : "eesti",
                      'Denmark' : "Denmark",
                      'Czechia' : "czech",
                      'Cyprus' : "cyprus",
                      'Croatia' : "croatia",
                      'Bulgaria' : "bulgaria",
                      'Bosnia and Herzegovina' : "bih",
                      'Belgium' : "belgium",
                      'Belarus' : "belarus",
                      'Austria' : "austria",
                      'Armenia' : "armenian"
                      }

In [8]:
data, count = supabase.table('hot_posts').delete().gte('id', 0).execute()

In [9]:
for country in european_countries:
    subreddit = reddit.subreddit(european_countries[country])
    # for each country, we are going to extract the hot 10 topics
    for submission in subreddit.hot(limit=10):
        # delete all moreComments
        submission.comments.replace_more(limit=0)
        top_level_comments = list(submission.comments) # to have the first level comments only 
        # fill the table
        data = supabase.table("hot_posts").insert({"country":str(country), "title":str(submission.title), "num_comments":int(submission.num_comments), "score":int(submission.score), "saved":submission.saved, "over_18":submission.over_18, "is_original_content":submission.is_original_content, "upvote_ratio":submission.upvote_ratio}).execute()

# Ingestion

In [10]:
_table = supabase.table('hot_posts').select("*").execute()
fetch = True
for param in _table:
    if fetch:
        _data = param
        fetch = False

data = _data[1]
dataset = pd.DataFrame(data)

# Transform

In [11]:
bool_columns = ["over_18", "is_original_content"]
count_columns = ["num_comments", "score"]
avg_columns = ["num_comments",	"score", "upvote_ratio"]

In [12]:
for col in bool_columns:
    dataset[f"count_{col}"] = dataset.groupby('country')[col].transform(lambda x: x.sum())

In [13]:
for col in count_columns:
    dataset[f"count_{col}"] = dataset.groupby('country')[col].transform('sum')

In [14]:
for col in avg_columns:
    dataset[f"avg_{col}"] = dataset.groupby('country')[col].transform('mean')

# Merge

In [15]:
# Charger le fichier CSV capital_monde_longitude_latitude
df_capital = pd.read_csv('country-capital-lat-long-population.csv')

In [16]:
df_capital.rename(columns={"Country" : "country"}, inplace=True)

In [17]:
# Fusionner les deux DataFrames sur la colonne 'country'
df_out = pd.merge(dataset, df_capital, how='left', on='country')

In [20]:
df_out.dtypes

id                                         int64
time                         datetime64[ns, UTC]
country                                   object
title                                     object
num_comments                               int64
score                                      int64
saved                                       bool
over_18                                     bool
is_original_content                         bool
upvote_ratio                             float64
count_over_18                              int64
count_is_original_content                  int64
count_num_comments                         int64
count_score                                int64
avg_num_comments                         float64
avg_score                                float64
avg_upvote_ratio                         float64
Capital City                              object
Latitude                                 float64
Longitude                                float64
Population                                 int64
Capital Type                              object
dtype: object

In [19]:
# Convert the datetime column to datetime type
df_out['time'] = pd.to_datetime(df_out['time'], errors='coerce')
# Create a new column with the formatted date 'year_month_day'
df_out['time'] = df_out['time'].dt.strftime('%Y-%m-%d')

In [26]:
usefull_columns = ['time', 'country', 'Capital City', 'Latitude', 'Longitude', 'Population',
                   'count_over_18', 'count_is_original_content', 'count_num_comments', 'count_score',
                   'avg_num_comments', 'avg_score','avg_upvote_ratio']

In [27]:
df_out = df_out[usefull_columns].drop_duplicates().reset_index()

# Load

In [28]:
df_out

,index,time,country,Capital City,Latitude,Longitude,Population,count_over_18,count_is_original_content,count_num_comments,count_score,avg_num_comments,avg_score,avg_upvote_ratio
0,0,2024-01-14,United Kingdom,London,51.5085,-0.1257,9046485,0,0,2606,4054,260.6,405.4,0.886
1,9,2024-01-14,Ukraine,Kyiv (Kiev),50.4454,30.5186,2956706,0,0,147,412,14.7,41.2,0.789
2,19,2024-01-14,Turkey,Ankara,39.9199,32.8543,4919074,0,0,594,1425,59.4,142.5,0.911
3,29,2024-01-14,Switzerland,Bern,46.9481,7.4474,422153,0,0,2508,1028,250.8,102.8,0.893
4,39,2024-01-14,Sweden,Stockholm,59.3326,18.0649,1582968,0,0,1614,1442,161.4,144.2,0.794
5,49,2024-01-14,Spain,Madrid,40.4165,-3.7026,6497124,0,0,271,1376,27.1,137.6,0.807
6,59,2024-01-14,Slovenia,Ljubljana,46.0511,14.5051,286491,0,0,314,458,31.4,45.8,0.886
7,69,2024-01-14,Slovakia,Bratislava,48.1482,17.1067,429920,0,0,784,1056,78.4,105.6,0.901
8,74,2024-01-14,Belarus,Minsk,53.9000,27.5667,2004672,0,0,163,1152,16.3,115.2,0.798
9,81,2024-01-14,Serbia,Beograd (Belgrade),44.8176,20.4633,1389351,0,0,1863,1466,186.3,146.6,0.881
10,91,2024-01-14,Romania,Bucuresti (Bucharest),44.4328,26.1043,1821380,1,0,283,1293,28.3,129.3,0.812
11,101,2024-01-14,Portugal,Lisboa (Lisbon),38.7169,-9.1399,2927316,0,0,561,911,56.1,91.1,0.900
12,111,2024-01-14,Poland,Warszawa (Warsaw),52.2298,21.0118,1767798,0,0,1341,6993,134.1,699.3,0.899
13,121,2024-01-14,Norway,Oslo,59.9127,10.7461,1012225,0,0,705,1769,70.5,176.9,0.699
14,131,2024-01-14,Netherlands,Amsterdam,52.3740,4.8897,1131690,0,0,1348,1233,134.8,123.3,0.895
15,141,2024-01-14,Republic of Moldova,Chişinău,47.0056,28.8575,509707,0,0,78,263,7.8,26.3,0.896
16,151,2024-01-14,Malta,Valletta,35.8997,14.5147,212768,0,0,282,293,28.2,29.3,0.983
17,161,2024-01-14,TFYR Macedonia,Skopje,42.0000,21.4333,584208,0,0,9,15,0.9,1.5,1.000
18,165,2024-01-14,Austria,Wien (Vienna),48.2064,16.3707,1900547,0,0,746,1652,74.6,165.2,0.876
19,175,2024-01-14,Armenia,Yerevan,40.1820,44.5146,1080324,0,0,82,135,8.2,13.5,0.927
20,191,2024-01-14,Luxembourg,Luxembourg,49.6117,6.1300,119752,0,0,160,204,16.0,20.4,0.830
21,201,2024-01-14,Lithuania,Vilnius,54.6892,25.2798,536055,0,0,372,1308,37.2,130.8,0.811
22,211,2024-01-14,Latvia,Riga,56.9460,24.1059,637089,0,0,193,175,19.3,17.5,0.866
23,221,2024-01-14,Italy,Roma (Rome),41.8947,12.4811,4209710,0,0,628,794,62.8,79.4,0.923
24,231,2024-01-14,Ireland,Dublin,53.3331,-6.2489,1201426,0,0,1194,6363,119.4,636.3,0.919
25,241,2024-01-14,Iceland,Reykjavík,64.1355,-21.8954,216364,0,0,282,186,28.2,18.6,0.833
26,251,2024-01-14,Hungary,Budapest,47.4980,19.0399,1759497,0,0,439,3955,43.9,395.5,0.952
27,261,2024-01-14,Greece,Athínai (Athens),37.9534,23.7490,3155600,0,0,412,336,41.2,33.6,0.840
28,271,2024-01-14,Germany,Berlin,52.5244,13.4105,3552123,0,0,4252,2684,425.2,268.4,0.844
29,281,2024-01-14,France,Paris,48.8534,2.3488,10900952,0,0,501,1765,50.1,176.5,0.893
30,291,2024-01-14,Finland,Helsinki,60.1692,24.9402,1279096,0,0,312,1595,31.2,159.5,0.805
31,301,2024-01-14,Estonia,Tallinn,59.4370,24.7535,437027,0,0,239,647,23.9,64.7,0.876
32,311,2024-01-14,Denmark,København (Copenhagen),55.6759,12.5655,1320826,0,0,805,892,80.5,89.2,0.852
33,321,2024-01-14,Czechia,Praha (Prague),50.0880,14.4208,1291552,0,0,525,2189,52.5,218.9,0.924
34,331,2024-01-14,Cyprus,Lefkosia (Nicosia),35.1595,33.3669,269469,0,0,178,178,17.8,17.8,0.895
35,342,2024-01-14,Croatia,Zagreb,45.8144,15.9780,685587,0,0,374,483,37.4,48.3,0.824
36,352,2024-01-14,Bulgaria,Sofia,42.6975,23.3242,1272418,0,0,300,285,30.0,28.5,0.831
37,362,2024-01-14,Bosnia and Herzegovina,Sarajevo,43.8486,18.3564,342577,0,0,103,275,10.3,27.5,0.874
38,372,2024-01-14,Belgium,Bruxelles-Brussel,50.8467,4.3499,2049510,0,0,551,371,55.1,37.1,0.824

In [29]:
df_out.to_csv("final_df.csv", sep=",")